<%- include("partials/header.ejs") %>



        <div class="container my-5 mx-5 px-5">
            <form action="/edit/submit" method="POST">
              <input type="hidden" name="id" value="<%= id %>">
              <div class="input-group flex-nowrap">
                <span class="input-group-text" id="addon-wrapping">Blog name</span>
                <!--<textarea class="form-control" aria-label="Title" name="title"><%= title%>  </textarea>-->
                <input type="text" class="form-control" aria-label="Title" aria-describedby="addon-wrapping" name="title" value="<%= title %>" required>
              </div>
                <div class="input-group">
                  <span class="input-group-text">Enter text</span>
                  <textarea class="form-control" aria-label="Content" name="content"><%= content %> </textarea>
                </div>
                <input class="btn btn btn-outline-secondary" type="submit" value="Edit">
              </form>
            
            </div>
      

    
